Interfaces.json
[
    {
        "id": "f9b6d46158a48420",
        "type": "tab",
        "label": "BD_POSTGRES_CRUD",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9df9c1933438c01f",
        "type": "http in",
        "z": "f9b6d46158a48420",
        "name": "",
        "url": "/sensors/update",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "0183e8711de56a85"
            ]
        ]
    },
    {
        "id": "c5da81ece92cd9b4",
        "type": "http in",
        "z": "f9b6d46158a48420",
        "name": "",
        "url": "/sensors/insert",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "a49ef639e0c5db91"
            ]
        ]
    },
    {
        "id": "ac55cf4962fb83ff",
        "type": "http in",
        "z": "f9b6d46158a48420",
        "name": "",
        "url": "/sensors/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "7cba9cc9885d8f12"
            ]
        ]
    },
    {
        "id": "a57c080314d509ca",
        "type": "template",
        "z": "f9b6d46158a48420",
        "name": "Web Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en-GB\">\n<head>\n    <title>Sesnors</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    $(function () {\n        console.log(\"Users Data Crud\");\n\n        var db = {{#payload}}{{{.}}}{{/payload}};\n\n        // Cargar usuarios al iniciar la página\n        var userOptions = [];\n\n        $.get(\"/sensors/get-users\", function(users) {\n            // Mapear los usuarios para obtener un array de objetos {value, text}\n            var userOptions = users.map(function(user) {\n                return { id: user.id, name: user.username };\n            });\n            console.log(userOptions);\n            // Agregar los usuarios al combo\n            $(\"#jsgrid\").jsGrid(\"fieldOption\", \"user_id\", \"items\", userOptions);\n        });\n\n    \n        $(\"#jsgrid\").jsGrid({\n            width: \"100%\",\n            inserting: true,\n            editing: true,\n            sorting: true,\n            paging: true,\n\n            data: db,\n\n            fields: [\n                { title:\"ID\", name: \"id\", type: \"text\", width: 50, readOnly: true },\n                { title:\"Sensor\", name: \"name\", type: \"text\", width: 50 },\n                { title:\"Type\", name: \"type\", type: \"text\", width: 50 },\n                { title:\"Record At\", name: \"record_at\", type:\"text\", width: 25, readOnly : true},\n                 { title:\"User id\", name: \"user_id\", type:\"text\", width: 25},\n                { type: \"control\" }\n            ],\n/* { title:\"User\", name: \"user_id\", type: \"select\", items: userOptions,  valueField: \"id\", textField: \"name\", width: 50},\n */            controller: {\n                insertItem: function(item) {\n                    return $.ajax({\n                        type: \"POST\",\n                        url: \"/sensors/insert\",\n                        data: item\n                    });\n                },\n                updateItem: function(item) {\n                   return $.ajax({\n                        type: \"PUT\",\n                        url: \"/sensors/update\",\n                        data: item\n                    });\n                },\n                deleteItem: function(item) {\n                    return $.ajax({\n                        type: \"DELETE\",\n                        url: \"/sensors/delete\",\n                        data: item\n                    });\n                }\n            }   \n        });\n    \n    \n    \n    \n    \n});\n</script>\n</head>\n<body class=\"container\">\n     <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n",
        "x": 780,
        "y": 200,
        "wires": [
            [
                "d8913a06857bb88b"
            ]
        ]
    },
    {
        "id": "88be20b7535b096b",
        "type": "http in",
        "z": "f9b6d46158a48420",
        "name": "",
        "url": "/sensors/index",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "a3a6f8622ec66d71"
            ]
        ]
    },
    {
        "id": "d8913a06857bb88b",
        "type": "http response",
        "z": "f9b6d46158a48420",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 280,
        "wires": []
    },
    {
        "id": "8a3d6bb64b0411f4",
        "type": "json",
        "z": "f9b6d46158a48420",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 200,
        "wires": [
            [
                "a57c080314d509ca"
            ]
        ]
    },
    {
        "id": "a3a6f8622ec66d71",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "SELECT sensors ",
        "query": "SELECT sensors.*, users.id AS user_id, users.email \nFROM sensors \nLEFT JOIN users ON sensors.user_id = users.id;\n",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "8a3d6bb64b0411f4"
            ]
        ]
    },
    {
        "id": "0183e8711de56a85",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "UPDATE sensors",
        "query": "UPDATE sensors SET name = '{{{msg.payload.name}}}',\n                    type =  '{{{msg.payload.type}}}',\n                    user_id =  '{{{msg.payload.user_id}}}' \n            WHERE id = {{{msg.payload.id}}};",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "dbd38d61b1c83325"
            ]
        ]
    },
    {
        "id": "a49ef639e0c5db91",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "INSERT sensors",
        "query": "INSERT INTO sensors (name, type, user_id) VALUES ('{{{msg.payload.name}}}','{{{msg.payload.type}}}', {{{msg.payload.user_id}}});\n",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "46cd07b87fe5c546"
            ]
        ]
    },
    {
        "id": "7cba9cc9885d8f12",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "DELETE sensors",
        "query": "DELETE FROM sensors WHERE id = {{{msg.payload.id}}};",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "dbd38d61b1c83325"
            ]
        ]
    },
    {
        "id": "f54234d43b376953",
        "type": "function",
        "z": "f9b6d46158a48420",
        "name": "showSaved",
        "func": "var item = {\n    id: msg.payload[0].id,\n    name: msg.payload[0].name,\n    type: msg.payload[0].type,\n    record_at: msg.payload[0].record_at,\n    user_id: msg.payload[0].user_id\n};\n\nif (item.name === \"\" || item.type === \"\" || item.record_at === \"\" || item.id === \"\" || item.User === \"\") {\n    msg.statusCode = 400;\n    msg.payload = null;\n    return msg;\n}\n\nmsg.payload = item;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 360,
        "wires": [
            [
                "d8913a06857bb88b"
            ]
        ]
    },
    {
        "id": "46cd07b87fe5c546",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "SELECT MAX sensors",
        "query": "SELECT sensors.*, users.email\nFROM sensors\nJOIN users ON sensors.user_id = users.id\nWHERE sensors.id = (SELECT MAX(id) FROM sensors);",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 600,
        "y": 340,
        "wires": [
            [
                "f54234d43b376953"
            ]
        ]
    },
    {
        "id": "dbd38d61b1c83325",
        "type": "function",
        "z": "f9b6d46158a48420",
        "name": "reload",
        "func": "msg.payload = msg.result;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "d8913a06857bb88b"
            ]
        ]
    },
    {
        "id": "b765aa5b8266b06f",
        "type": "http in",
        "z": "f9b6d46158a48420",
        "name": "",
        "url": "/sensors/get-users",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "949a044601fbd12f"
            ]
        ]
    },
    {
        "id": "949a044601fbd12f",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "SELECT users",
        "query": "SELECT * FROM users;",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "04ebdd933aacf737"
            ]
        ]
    },
    {
        "id": "04ebdd933aacf737",
        "type": "http response",
        "z": "f9b6d46158a48420",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "93b9d46682604489",
        "type": "http in",
        "z": "f9b6d46158a48420",
        "name": "",
        "url": "/users/update",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "7e0e1478f869361c"
            ]
        ]
    },
    {
        "id": "157381549d8e7bbf",
        "type": "http in",
        "z": "f9b6d46158a48420",
        "name": "",
        "url": "/users/insert",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "9fb992cd343f2cb4"
            ]
        ]
    },
    {
        "id": "e94b272a2e3e0914",
        "type": "http in",
        "z": "f9b6d46158a48420",
        "name": "",
        "url": "/users/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "6e33e6ab3a7ca8e6"
            ]
        ]
    },
    {
        "id": "f1f37eaaaa829eb5",
        "type": "template",
        "z": "f9b6d46158a48420",
        "name": "Web Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en-GB\">\n<head>\n    <title>Users</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    $(function () {\n        console.log(\"Users Data Crud\");\n\n        var db = {{#payload}}{{{.}}}{{/payload}};\n\n        // Cargar usuarios al iniciar la página\n    \n        $(\"#jsgrid\").jsGrid({\n            width: \"100%\",\n            inserting: true,\n            editing: true,\n            sorting: true,\n            paging: true,\n\n            data: db,\n\n            fields: [\n                { title:\"ID\", name: \"id\", type: \"text\", width: 50, readOnly: true },\n                { title:\"Email\", name: \"email\", type: \"text\", width: 50 },\n                { title:\"Clave\", name: \"clave\", type: \"text\", width: 50 },\n                { title:\"Record at\", name: \"record_at\", type:\"text\", width: 25, readOnly: true},\n                { type: \"control\" }\n            ],\n\n            controller: {\n                insertItem: function(item) {\n                    return $.ajax({\n                        type: \"POST\",\n                        url: \"/users/insert\",\n                        data: item\n                    });\n                },\n                updateItem: function(item) {\n                   return $.ajax({\n                        type: \"PUT\",\n                        url: \"/users/update\",\n                        data: item\n                    });\n                },\n                deleteItem: function(item) {\n                    return $.ajax({\n                        type: \"DELETE\",\n                        url: \"/users/delete\",\n                        data: item\n                    });\n                }\n            }   \n        });\n    \n    \n    \n    \n    \n});\n</script>\n</head>\n<body class=\"container\">\n     <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>",
        "x": 760,
        "y": 480,
        "wires": [
            [
                "6ed23d9636a97339"
            ]
        ]
    },
    {
        "id": "0fe58940d1d0ab8e",
        "type": "http in",
        "z": "f9b6d46158a48420",
        "name": "",
        "url": "/users/index",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "144167944e609062"
            ]
        ]
    },
    {
        "id": "6ed23d9636a97339",
        "type": "http response",
        "z": "f9b6d46158a48420",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 500,
        "wires": []
    },
    {
        "id": "72ddee0e49ad99a3",
        "type": "json",
        "z": "f9b6d46158a48420",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "f1f37eaaaa829eb5"
            ]
        ]
    },
    {
        "id": "144167944e609062",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "SELECT users",
        "query": "SELECT * FROM users;",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 320,
        "y": 480,
        "wires": [
            [
                "72ddee0e49ad99a3"
            ]
        ]
    },
    {
        "id": "7e0e1478f869361c",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "UPDATE users",
        "query": "UPDATE users SET email = '{{{msg.payload.email}}}',\nclave = encriptar_contrasena('{{{msg.payload.clave}}}')\nWHERE id = {{{msg.payload.id}}};",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 320,
        "y": 540,
        "wires": [
            [
                "de282dadb1a7bfe1"
            ]
        ]
    },
    {
        "id": "9fb992cd343f2cb4",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "INSERT users",
        "query": "INSERT INTO users (email, clave) VALUES ('{{{msg.payload.email}}}', encriptar_contrasena('{{{msg.payload.clave}}}'));",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 320,
        "y": 600,
        "wires": [
            [
                "34d4d0c82f7301f1"
            ]
        ]
    },
    {
        "id": "6e33e6ab3a7ca8e6",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "DELETE users",
        "query": "DELETE FROM users WHERE id = {{{msg.payload.id}}};",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 320,
        "y": 660,
        "wires": [
            [
                "de282dadb1a7bfe1"
            ]
        ]
    },
    {
        "id": "b627898011020fa4",
        "type": "function",
        "z": "f9b6d46158a48420",
        "name": "showSaved",
        "func": "var item = {\n    id: msg.payload[0].id,\n    email: msg.payload[0].email,\n    clave: msg.payload[0].clave,\n    record_at: msg.payload[0].record_at,\n    \n};\n\nif (item.email === \"\" || item.clave === \"\" || item.record_at === \"\" || item.id === \"\") {\n    msg.statusCode = 400;\n    msg.payload = null;\n    return msg;\n}\n\nmsg.payload = item;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 600,
        "wires": [
            [
                "6ed23d9636a97339"
            ]
        ]
    },
    {
        "id": "34d4d0c82f7301f1",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "SELECT MAX users",
        "query": "SELECT *\nFROM users \nWHERE id = (SELECT MAX(id) FROM users);",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 520,
        "y": 580,
        "wires": [
            [
                "b627898011020fa4"
            ]
        ]
    },
    {
        "id": "de282dadb1a7bfe1",
        "type": "function",
        "z": "f9b6d46158a48420",
        "name": "reload",
        "func": "msg.payload = msg.result;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 540,
        "wires": [
            [
                "6ed23d9636a97339"
            ]
        ]
    },
    {
        "id": "f06bdb4cd7bc5700",
        "type": "http in",
        "z": "f9b6d46158a48420",
        "name": "",
        "url": "/actuators/update",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "af5afdc16fdd181b"
            ]
        ]
    },
    {
        "id": "37a4dc4e86c2c891",
        "type": "http in",
        "z": "f9b6d46158a48420",
        "name": "",
        "url": "/actuators/insert",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 860,
        "wires": [
            [
                "659b0d148b5e4356"
            ]
        ]
    },
    {
        "id": "645b2fdd19a8e87f",
        "type": "http in",
        "z": "f9b6d46158a48420",
        "name": "",
        "url": "/actuators/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "a2d32ffb553f4751"
            ]
        ]
    },
    {
        "id": "3d7898ef2b41b479",
        "type": "template",
        "z": "f9b6d46158a48420",
        "name": "Web Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en-GB\">\n<head>\n    <title>Actuators</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    $(function () {\n        console.log(\"Users Data Crud\");\n\n        var db = {{#payload}}{{{.}}}{{/payload}};\n\n        // Cargar usuarios al iniciar la página\n        var userOptions = [];\n\n        $.get(\"/sensors/get-users\", function(users) {\n            // Mapear los usuarios para obtener un array de objetos {value, text}\n            var userOptions = users.map(function(user) {\n                return { id: user.id, name: user.username };\n            });\n            console.log(userOptions);\n            // Agregar los usuarios al combo\n            $(\"#jsgrid\").jsGrid(\"fieldOption\", \"user_id\", \"items\", userOptions);\n        });\n\n    \n        $(\"#jsgrid\").jsGrid({\n            width: \"100%\",\n            inserting: true,\n            editing: true,\n            sorting: true,\n            paging: true,\n\n            data: db,\n\n            fields: [\n                { title:\"ID\", name: \"id\", type: \"text\", width: 50, readOnly: true },\n                { title:\"Actuator\", name: \"name\", type: \"text\", width: 50 },\n                { title:\"Type\", name: \"type\", type: \"text\", width: 50 },\n                { title:\"Record At\", name: \"record_at\", type:\"text\", width: 25, readOnly : true},\n                { type: \"control\" }\n            ],\n/* { title:\"User\", name: \"user_id\", type: \"select\", items: userOptions,  valueField: \"id\", textField: \"name\", width: 50},\n */            controller: {\n                insertItem: function(item) {\n                    return $.ajax({\n                        type: \"POST\",\n                        url: \"/actuators/insert\",\n                        data: item\n                    });\n                },\n                updateItem: function(item) {\n                   return $.ajax({\n                        type: \"PUT\",\n                        url: \"/actuators/update\",\n                        data: item\n                    });\n                },\n                deleteItem: function(item) {\n                    return $.ajax({\n                        type: \"DELETE\",\n                        url: \"/actuators/delete\",\n                        data: item\n                    });\n                }\n            }   \n        });\n    \n    \n    \n    \n    \n});\n</script>\n</head>\n<body class=\"container\">\n     <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n",
        "x": 780,
        "y": 740,
        "wires": [
            [
                "147a4b2a3b9e7f75"
            ]
        ]
    },
    {
        "id": "181896c3b9059f98",
        "type": "http in",
        "z": "f9b6d46158a48420",
        "name": "",
        "url": "/actuators/index",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "b06e487332285273"
            ]
        ]
    },
    {
        "id": "147a4b2a3b9e7f75",
        "type": "http response",
        "z": "f9b6d46158a48420",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 820,
        "wires": []
    },
    {
        "id": "39cae42b8c21925c",
        "type": "json",
        "z": "f9b6d46158a48420",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 740,
        "wires": [
            [
                "3d7898ef2b41b479"
            ]
        ]
    },
    {
        "id": "b06e487332285273",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "SELECT actuators",
        "query": "SELECT actuators.*\nFROM actuators \n\n",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 740,
        "wires": [
            [
                "39cae42b8c21925c"
            ]
        ]
    },
    {
        "id": "af5afdc16fdd181b",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "UPDATE actuators",
        "query": "UPDATE actuators SET name = '{{{msg.payload.name}}}',\n                    type =  '{{{msg.payload.type}}}'\n            WHERE id = {{{msg.payload.id}}};",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 800,
        "wires": [
            [
                "10a90525514b3030"
            ]
        ]
    },
    {
        "id": "659b0d148b5e4356",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "INSERT actuators",
        "query": "INSERT INTO actuators (name, type) VALUES ('{{{msg.payload.name}}}','{{{msg.payload.type}}}');\n",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 340,
        "y": 860,
        "wires": [
            [
                "192c464675ac30f7"
            ]
        ]
    },
    {
        "id": "a2d32ffb553f4751",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "DELETE sensors",
        "query": "DELETE FROM actuators WHERE id = {{{msg.payload.id}}};",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 920,
        "wires": [
            [
                "10a90525514b3030"
            ]
        ]
    },
    {
        "id": "e4ce9aa19374c920",
        "type": "function",
        "z": "f9b6d46158a48420",
        "name": "showSaved",
        "func": "var item = {\n    id: msg.payload[0].id,\n    name: msg.payload[0].name,\n    type: msg.payload[0].type,\n    record_at: msg.payload[0].record_at,\n    user_id: msg.payload[0].user_id\n};\n\nif (item.name === \"\" || item.type === \"\" || item.record_at === \"\" || item.id === \"\" || item.User === \"\") {\n    msg.statusCode = 400;\n    msg.payload = null;\n    return msg;\n}\n\nmsg.payload = item;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 900,
        "wires": [
            [
                "147a4b2a3b9e7f75"
            ]
        ]
    },
    {
        "id": "192c464675ac30f7",
        "type": "postgresql",
        "z": "f9b6d46158a48420",
        "name": "SELECT MAX sensors",
        "query": "SELECT actuators.*\nFROM actuators\n",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 600,
        "y": 880,
        "wires": [
            [
                "e4ce9aa19374c920"
            ]
        ]
    },
    {
        "id": "10a90525514b3030",
        "type": "function",
        "z": "f9b6d46158a48420",
        "name": "reload",
        "func": "msg.payload = msg.result;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 820,
        "wires": [
            [
                "147a4b2a3b9e7f75"
            ]
        ]
    },
    {
        "id": "3cd515a78cadaa56",
        "type": "postgreSQLConfig",
        "name": "aiot",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    }
]